[submodule "code/4_1_4_2_7_2_GPU_Roofline_Tools"]
	path = code/4_1_4_2_7_2_GPU_Roofline_Tools
	url = git@github.com:hibagus/GPU_Roofline_Tools.git
	branch = SC2025
[submodule "code/7_3_High_Performance_LINPACK"]
	path = code/7_3_High_Performance_LINPACK
	url = git@github.com:hibagus/SC2025_rocHPL.git
	branch = main
[submodule "code/5_Memory"]
	path = code/5_Memory
	url = git@github.com:hibagus/SC2025_RRZE_HPC_gpu-benches.git
	branch = master
[submodule "code/6_Communication_Interface"]
	path = code/6_Communication_Interface
	url = git@github.com:hibagus/SC2025_TransferBench.git
	branch = develop
[submodule "code/7_4_High_Performance_CG"]
	path = code/7_4_High_Performance_CG
	url = git@github.com:hibagus/SC2025_rocHPCG.git
[submodule "code/7_5_GROMACS_Molecular_Dynamics_Simulation"]
	path = code/7_5_GROMACS_Molecular_Dynamics_Simulation
	url = git@github.com:hibagus/SC25_ROCM_GROMACS_2025.2.git
